{{- $pkgs := includeTemplate "packages-data.yaml.tmpl" . | fromYaml -}}
{{- $all := (list) -}}
{{- range $category, $list := $pkgs -}}
  {{- $shouldInstall := true -}}

  {{- if hasPrefix "gpu_" $category -}}
    {{- $vendor := trimPrefix "gpu_" $category -}}
    {{- if eq $vendor "intel" -}}
      {{- if not $.gpu_intel -}}
        {{- $shouldInstall = false -}}
      {{- end -}}
    {{- else if eq $vendor "amd" -}}
      {{- if not $.gpu_amd -}}
        {{- $shouldInstall = false -}}
      {{- end -}}
    {{- else if eq $vendor "nvidia" -}}
      {{- if not $.gpu_nvidia -}}
        {{- $shouldInstall = false -}}
      {{- end -}}
    {{- else -}}
      {{- $shouldInstall = false -}}
    {{- end -}}
  {{- end -}}

  {{- if hasPrefix "cpu_" $category -}}
    {{- $vendor := trimPrefix "cpu_" $category -}}
    {{- if ne $.cpu_vendor $vendor -}}
      {{- $shouldInstall = false -}}
    {{- end -}}
  {{- end -}}

  {{- if $shouldInstall -}}
    {{- $all = concat $all $list -}}
  {{- end -}}
{{- end -}}
{{- $all | uniq | join " " -}}
