{{- $pkgs := includeTemplate "packages-data.yaml.tmpl" . | fromYaml -}}
{{- $all := (list) -}}
{{- range $category, $list := $pkgs -}}
  {{- $all = concat $all $list -}}
{{- end -}}
{{- $all | uniq | join " " -}}
