{
	"context": {
		"fileName": ["AGENTS.md", "CONTEXT.md", "GEMINI.md", "PROMPT.md"]
	},
	"security": {
		"auth": {
			"selectedType": "oauth-personal"
		}
	},
	"mcpServers": {
		"chrome-devtools": {
			"command": "npx",
			"args": ["chrome-devtools-mcp@latest"]
		},
		"DeepWiki": {
{{- if and .secrets (lookPath "bw") }}
			"httpUrl": "https://mcp.fastmcp.me/9a199fde-af87-4253-bacd-022a69eb0193/69/mcp?fastmcp_gateway_key={{ (bitwarden "item" "opencode-fastmcp-key").login.password }}"
{{- else }}
			"httpUrl": "https://mcp.fastmcp.me/9a199fde-af87-4253-bacd-022a69eb0193/69/mcp?fastmcp_gateway_key=PLACEHOLDER"
{{- end }}
		}
{{- if and .secrets (lookPath "bw") }},
		"github": {
			"httpUrl": "https://api.githubcopilot.com/mcp/",
			"headers": {
				"Authorization": "Bearer {{ (bitwarden "item" "github-token").login.password }}"
			}
		}
{{- end }}

		},
{{- if .secrets }}
		"github": {
			"httpUrl": "https://api.githubcopilot.com/mcp/",
			"headers": {
				"Authorization": "Bearer {{ (bitwarden "item" "github-token").login.password }}"
			}
		}
{{- end }}
	},
	"general": {
		"previewFeatures": true,
		"enablePromptCompletion": false,
		"preferredEditor": "nvim",
		"vimMode": false,
		"disableAutoUpdate": true,
		"enableAutoUpdate": false
	},
	"ui": {
		"hideContextSummary": false,
		"footer": {
			"hideContextPercentage": false
		},
		"showCitations": true,
		"theme": "ANSI",
		"useAlternateBuffer": false
	},
	"tools": {
		"shell": {
			"showColor": true
		},
		"autoAccept": true
	},
	"model": {
		"name": "gemini-3-flash-preview"
	}
}
