[Unit]
Description=Awww wallpaper daemon
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/awww-daemon
ExecStartPost=-/usr/bin/awww restore
Restart=on-failure
RestartSec=2s
