[Unit]
Description=Cliphist text watcher
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --type text --watch /usr/bin/cliphist store
Restart=on-failure
RestartSec=2s
