[Unit]
Description=Hyprland session services
Wants=awww.service waybar.service nm-applet.service hyprpolkitagent.service
Wants=cliphist-text.service cliphist-image.service
